html {
height:100% !important;
}

body{
min-height:100% !important;
}

div.form-radio-buttons > label {
    margin-bottom: 0;
}

.form-basic .form-row > label {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    text-align: right;
    vertical-align: top;
    padding: 12px 40px 12px 8px;
    width: 35%;
    float:left;
    margin: 0;
}

.form-basic{
    max-width: 1200px;
    margin: 0px auto 30px;
    padding: 45px;
    box-sizing: border-box;

    background-color:  #f5f5f5;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-basic .form-row .form-checkboxes {
    display: inline-block;
    width: 50%;
}

.form-basic .form-row label.item {
    display: inline-block;
    padding: 10px;
    text-align:left;
    width: auto;
}

.form-basic .form-row{
    text-align: left;
    margin-bottom: 28px;
}

.form-basic .form-title-row{
    text-align: center;
    margin-bottom: 30px;
}

/* The form title */

.form-basic h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}


.form-basic input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 260px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    font: Arial;
    border: 1px solid #dbdbdb;
    font: normal 13px sans-serif;
}

.form-basic input[type=text]{
    width: 55%;
    float:right;
}

.form-basic input[type=radio],
.form-basic input[type=checkbox]{
    box-shadow: none;
    width: auto;
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform:scale(1.3);
}

.form-basic input[type=checkbox]{
    margin-top: 13px;
}

.form-basic select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    min-width: 130px;
    max-width: 260px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
    font: normal 13px sans-serif;
}

.form-basic textarea{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 50%;
    height: 150px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.form-basic .form-radio-buttons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 12px 0;

}

.form-basic .form-radio-buttons > div{
    margin-top: 10px;
}

.form-basic .form-radio-buttons label span, label.item{
    margin-left: 2px;
    color: #5f5f5f;
    font-weight: normal;
}

.form-basic .form-radio-buttons input{
    width: auto;
}

.form-basic button{
    display: block;
    min-width:200px;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px auto 0;
}

.form-basic button:hover{
    background: #655cdb;
}

div.form-row.form-header1 {
    margin-bottom: 10px;
}

div.form-row.form-header2 {
    margin: auto;
    margin-bottom: 40px;
}


div.form-row.form-header1 > label, div.form-row.form-header2 > label {
    padding:12px 0px 12px 8px;
    color: black;
}


div.form-row.form-header1 span {
    font-weight:bold;
    color:black
}


div.form-row.form-header div.form-radio-buttons {
    padding: 12px 0 12px 10px;
}

#input-status{
    display: none;
}

p.category{
    border-bottom: 2px solid #6caee0;
    padding: 0 6px;
    margin-left: 50px;
    font-size: 16px;
}

/*.form-basic input[type=checkbox]{
        margin: auto auto auto 100px;
    }
*/

/*
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
*/

/* Rounded sliders */
/*
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
*/

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices.
@media (max-width: 600px) {

    .form-basic{
        padding: 30px;
        max-width: 480px;
    }

    .form-basic .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-basic .form-title-row{
        margin-bottom: 50px;
    }

    .form-basic .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-basic select{
        width: 240px;
    }

    .form-basic input[type=checkbox]{
        margin-top:0;
    }

    .form-basic .form-radio-buttons > div{
        margin: 0 0 10px;
    }

    .form-basic button{
        margin: 0;
    }

}*/
