div.col-lg-6 {
   max-width: 100%;
}

div.col-lg-9.col-md-8 {
    max-width: 100%;
}

ul.nav.nav-tabs li.nav-item a.nav-link{
    padding: 0.5rem 1.5rem;
}

#table-search{
    padding: 10px 30px 10px 10px;
    min-width: 40%;
}

div.header p{
    display: inline-block;
}

div.header #search-by-col-name{
    padding: 10px 30px 10px 10px;
    min-width: 30%;
}

div.card div.card-body .card-title, .card-subtitle {
    display: inline-block;
    font-weight:bold;
}

div.card div.card-body .card-title {
    max-width:55%;
}

div.card div.card-body .card-subtitle {
    float:right;
    font-style: italic;
    max-width:45%;
    font-size:12px;
    text-align: right;
}

#people div.card {
    background: lightgoldenrodyellow;
}


#ba div.card {
    background: rgb(240, 248, 255);
}

#notes div.card {
    background: palegoldenrod;
}

.star {
    font-size: 30px;
    color:gold;
}

/*
span.favorite:hover:before {
   content: "\2606";
   position: absolute;
}*/

button[type=submit] {
    background:inherit;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 5px;
}

span.favorite:before {
   content: "\2605";
}

span.non-favorite:before {
   content: "\2606";
}

