{% extends "common.html" %}

{% block title%}
Form
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form.css') }}">
{% endblock %}

{% block body %}
<div class="col main pt-5 mt-3">
    <br>
    <form class="form-basic" method="post" action="{{ url_for('submit_form') }}">

        <div class="form-title-row">
            <h1>New Contact</h1>
        </div>
        <div class="form-row form-header1"><label>追加先のリストを選択してください</label>
            <div class="form-radio-buttons">
                <label>
                    <input type="radio" name="submit-to-list" value="people-list">
                    <span>People List</span>
                </label>
                <label>
                    <input type="radio" name="submit-to-list" value="ba-list">
                    <span>BA List</span>
                </label>
            </div>

        </div>
        <div class="form-row form-header2">
            <label>Dashboardに表示する</label>
            <input type="checkbox" name="fav" checked style="margin: auto auto auto 100px;">
        </div>

        <!--        <div>-->
        <!--                <label class="switch">-->
        <!--                    <input type="checkbox" checked>-->
        <!--                    <span class="slider round"></span>-->
        <!--                </label>-->
        <!--            </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-row">
                    <p class="category"> 基本項目 </p>
                </div>
                <div class="form-row">
                    <label class="entry">名前</label>
                    <input type="text" name="full-name">
                </div>

                <div class="form-row">
                    <label class="entry">年齢</label>
                    <input type="text" name="age">
                </div>

                <div class="form-row">
                    <label class="entry">性別</label>
                    <div class="form-radio-buttons">
                        <label>
                            <input type="radio" name="gender" value="male">
                            <span>男</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="female">
                            <span>女</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="other">
                            <span>その他</span>
                        </label>
                    </div>
                </div>

                <div class="form-row">
                    <label class="entry">ステータス</label>
                    <select name="status" id="status-dropdown" onchange="otherCheck(this)">
                        <option>NA</option>
                        <option>BA</option>
                        <option>研修中</option>
                        <option value="lost-reason" id="lost-reason">ロスト</option>
                    </select>
                </div>
                <div class="form-row" id="input-status">
                    <label class="entry">ロスト理由を入力</label>
                    <input type="text" name="lost-reason">
                </div>
                <div class="form-row">
                    <label class="entry">興味付けポイント</label>
                    <input type="text" name="my-value-proposition">
                </div>
                <div class="form-row">
                    <label class="entry">印象・メモ</label>
                    <textarea name="description"></textarea>
                </div>
                <div class="form-row">
                    <label class="entry">関係性</label>
                    <select name="relation">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
                <div class="form-row">
                    <label class="entry">ニーズ</label>
                    <input type="text" name="needs">
                </div>
                <!--                   looks nicer with a new line when displayed on mobile-->
                <div class="form-row">
                    <label class="entry">その他経歴</label>
                    <textarea name="other-background"></textarea>
                </div>
                <div class="form-row"><br></div>

            </div>
            <div class="col-sm-6">
                <div class="form-row"><p class="category">
                    追加項目
                </p>
                </div>
                <div class="form-row">
                    <label class="entry">タイプ</label>
                    <div class="form-checkboxes">
                        <div class="single-item">
                            <input id="promoter" type="checkbox" name="type" value="promoter"><label for="promoter"
                                                                                                     class="item">プロモーター</label>
                        </div>
                        <div class="single-item">
                            <input id="analyzer" type="checkbox" name="type" value="analyzer"><label for="analyzer"
                                                                                                     class="item">アナライザー</label>
                        </div>
                        <div class="single-item">
                            <input id="controller" type="checkbox" name="type" value="controller"><label
                                for="controller" class="item">コントローラー</label>
                        </div>
                        <div class="single-item">
                            <input id="supporter" type="checkbox" name="type" value="supporter"><label for="supporter"
                                                                                                       class="item">サポーター</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <label class="entry">職業</label>
                    <input type="text" name="job">
                </div>
                <div class="form-row">
                    <label class="entry">会社</label>
                    <input type="text" name="company">
                </div>
                <div class="form-row">
                    <label class="entry">勤務地</label>
                    <input type="text" name="company-loc">
                </div>
                <div class="form-row">
                    <label class="entry">住まい</label>
                    <input type="text" name="home">
                </div>
                <div class="form-row">
                    <label class="entry">出身地</label>
                    <input type="text" name="hometown">
                </div>
                <div class="form-row">
                    <label class="entry">きっかけ</label>
                    <input type="text" name="source" placeholder="知り合ったきっかけ">
                </div>
                <div class="form-row">
                    <label class="entry">誕生日</label>
                    <input type="text" name="dob" placeholder="数字のみで記入　例：19920928">
                </div>
                <div class="form-row">
                    <label class="entry">その他備考</label>
                    <input type="text" name="remarks">
                </div>
            </div>
        </div>
        <div class="form-row">
            <button type="submit">保存</button>
        </div>
    </form>


</div><!--/col-->
{% endblock %}

{% block script%}
<script src="{{ url_for('static', filename='js/hiddenInput.js') }}"></script>
{% endblock %}