{% extends "common.html" %}

{% block title%}
Form
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form.css') }}">
{% endblock %}

{% block body %}
<div class="col main pt-5 mt-3">
    <br>
    <form class="form-basic" method="post" action="{{ url_for('submit_form') }}">

        <div class="form-title-row">
            <h1>New Contact</h1>
        </div>
        <div class="form-row form-header1"><label>追加先のリストを選択してください</label>
            <div class="form-radio-buttons">
                <label>
                    <input type="radio" name="submit-to-list" value="people-list">
                    <span>People List</span>
                </label>
                <label>
                    <input type="radio" name="submit-to-list" value="ba-list">
                    <span>BA List</span>
                </label>
            </div>

        </div>
<div class="form-row form-header2">
                            <label>Dashboardに表示する</label>
                            <input type="checkbox" name="fav" checked>
                        </div>

<!--        <div>-->
<!--                <label class="switch">-->
<!--                    <input type="checkbox" checked>-->
<!--                    <span class="slider round"></span>-->
<!--                </label>-->
<!--            </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-row">
                    <p class="category"> 基本項目 </p>
                </div>
                <div class="form-row">
                    <label>名前</label>
                    <input type="text" name="full-name">
                </div>

                <div class="form-row">
                    <label>年齢</label>
                    <input type="text" name="age">
                </div>

                <div class="form-row">
                    <label>性別</label>
                    <div class="form-radio-buttons">
                        <label>
                            <input type="radio" name="gender" value="male">
                            <span>男</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="female">
                            <span>女</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="other">
                            <span>その他</span>
                        </label>
                    </div>
                </div>

                <div class="form-row">
                    <label>状態</label>
                    <select name="status" id="status-dropdown" onchange="otherCheck(this)">
                        <option>会ったばかり</option>
                        <option>知人</option>
                        <option>友人</option>
                        <option>BPR済み</option>
                        <option>SPR済み</option>
                        <option>RP済み</option>
                        <option>Placeholder1</option>
                        <option>Placeholder2</option>
                        <option value="others" id="status-others">その他</option>
                    </select>
                </div>
                <div class="form-row" id="input-status">
                    <label>状態を入力</label>
                    <input type="text" name="other-status">
                </div>

                <div class="form-row">
                    <label>印象・メモ</label>
                    <textarea name="description"></textarea>
                </div>

                <div class="form-row">
                    <label>ニーズ</label>
                    <input type="text" name="needs">
                </div>
                <!--                   looks nicer with a new line when displayed on mobile-->
                <div class="form-row"><br></div>


            </div>
            <div class="col-sm-6">
                <div class="form-row"><p class="category">
                    追加項目
                </p>
                </div>
                <div class="form-row">
                    <label>性格</label>
                    <input type="text" name="character">
                </div>
                <div class="form-row">
                    <label>親しさ</label>
                    <select name="relation">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>
                </div>
                <div class="form-row">
                    <label>職業</label>
                    <input type="text" name="job">
                </div>
                <div class="form-row">
                    <label>会社</label>
                    <input type="text" name="company">
                </div>
                <div class="form-row">
                    <label>勤務地</label>
                    <input type="text" name="company-loc">
                </div>
                <div class="form-row">
                    <label>住まい</label>
                    <input type="text" name="home">
                </div>
                <div class="form-row">
                    <label>出身地</label>
                    <input type="text" name="hometown">
                </div>
                <div class="form-row">
                    <label>きっかけ</label>
                    <input type="text" name="source" placeholder="知り合ったきっかけ">
                </div>
                <div class="form-row">
                    <label>その他備考</label>
                    <input type="text" name="remarks">
                </div>
            </div>
        </div>
        <div class="form-row">
            <button type="submit">保存</button>
        </div>
    </form>


</div><!--/col-->
{% endblock %}

{% block script%}
<script src="{{ url_for('static', filename='js/hiddenInput.js') }}"></script>
{% endblock %}