{% extends 'tableTemplate.html' %}

{% block title %}
{{ t }}
{% endblock %}

{% block table %}
    <table class="table table-striped" id="com-schedule">
    <thead class="thead-inverse">
    <tr>
        <th>日付</th>
        <th>ユニオン</th>
        <th>内容</th>
        <th>時間</th>
        <th>SP</th>
        <th>MC/AC</th>
        <th>会場</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in event_list %}
    {%- if entry["content"] != ""%}
    <tr>
        <td>{{ entry["date"] }}</td>
        <td>{{ entry["union_name"] }}</td>
        <td>{{ entry["content"] }}</td>
        <td>{{ entry["time"] }}</td>
        <td>{{ entry["SP"] }}</td>
        <td>{{ entry["MC_AC"] }}</td>
        <td>{{ entry["venue"] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}