{% extends "common.html" %}

{% block title%}
Monthly Schedule From COM
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/schedule.css') }}">
{% endblock %}

{% block body %}

<!--    Data from COM-->
<div class="col main pt-5 mt-3">
    <div>
        <label>Filter by Union Name</label>
            <select name="union-name">
                {% for name in all_union_names %}
                <option>{{ name }}</option>
                {% endfor %}
            </select>
</div>
<div class="col-lg-9 col-md-8">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>Union</th>
                <th>内容</th>
                <th>時間</th>
                <th>SP</th>
                <th>MC/AC</th>
                <th>会場</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in event_list %}
            <tr>
                <td rowspan="">{{ entry[0] }}</td>
                {% for cell in entry[1:] %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    {% endblock %}