{% extends "common.html" %}

{% block title%}
Form
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form.css') }}">
{% endblock %}

{% block body %}
<div class="col main pt-5 mt-3">
    <br>

    <form class="form-basic" method="post" action="{{ url_for('update_form') }}">
                    {% for attr in person %}
	<input type="text" name="_id" value="{{ attr['_id'] }}" hidden>
        <div class="form-title-row">
            <h1>Update Existing Contact</h1>
        </div>
        <div class="form-row list-selection"><label>BAリストに移動する</label>
            <!--TODO: Need to be implemented-->
        </div>
        <div class="form-row form-header2">
            <label>Dashboardに表示する</label>
            <input type="checkbox" name="fav" checked>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-row">
                    <p class="category"> 基本項目 </p>
                </div>
                <div class="form-row">
                    <label>名前</label>
                    <input type="text" name="full-name" value="{{ attr['full-name'] }}">
                </div>

                <div class="form-row">
                    <label>年齢</label>
                    <input type="text" name="age" value="{{ attr['age'] }}">
                </div>

                <div class="form-row">
                    <label>性別</label>
                    <div class="form-radio-buttons" name="{{ attr['gender'] }}">
                        <label>
                            <input type="radio" name="gender" value="male">
                            <span>男</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="female">
                            <span>女</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" value="other">
                            <span>その他</span>
                        </label>
                    </div>
                </div>


                <div class="form-row">
                    <label>状態</label>
                    <select name="status" id="status-dropdown" onchange="otherCheck(this)" class="{{ attr['status'] }}">
                        <option>会ったばかり</option>
                        <option>知人</option>
                        <option>友人</option>
                        <option>BPR済み</option>
                        <option>SPR済み</option>
                        <option>RP済み</option>
                        <option>トレーニング中</option>
                        <option>様子見</option>
                        <option>ロスト</option>
                        <option value="others" id="status-others">その他</option>
                    </select>
                </div>
                <div class="form-row" id="input-status">
                    <label>状態を入力</label>
                    <input type="text" name="other-status" >
                </div>

                <div class="form-row">
                    <label>印象・メモ</label>
                    <textarea name="description">{{ attr['description'] }}</textarea>
                </div>

                <!--in case I need a checkbox-->
                <!--        <div class="form-row">-->
                <!--            <label>Enter more details</label>-->
                <!--            <input type="checkbox" name="checkbox" checked>-->
                <!--        </div>-->

                <div class="form-row">
                    <label>ニーズ</label>
                    <input type="text" name="needs" value="{{ attr['needs'] }}">
                </div>
                <!--                   looks nicer with a new line when displayed on mobile-->
                <div class="form-row"><br></div>


            </div>
            <div class="col-sm-6">
                <div class="form-row"><p class="category">
                     追加項目
                </p>
                </div>
                <div class="form-row">
                    <label>性格</label>
                    <input type="text" name="character" value="{{ attr['character'] }}">
                </div>
                <div class="form-row">
                    <label>親しさ</label>
                    <select name="relation">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>
                </div>
                <div class="form-row">
                    <label>職業</label>
                    <input type="text" name="job" value="{{ attr['job'] }}">
                </div>
                <div class="form-row">
                    <label>会社</label>
                    <input type="text" name="company" value="{{ attr['company'] }}">
                </div>
                <div class="form-row">
                    <label>勤務地</label>
                    <input type="text" name="company-loc" value="{{ attr['company-loc'] }}">
                </div>
                <div class="form-row">
                    <label>住まい</label>
                    <input type="text" name="home" value="{{ attr['home'] }}">
                </div>
                <div class="form-row">
                    <label>出身地</label>
                    <input type="text" name="hometown" value="{{ attr['hometown'] }}">
                </div>
                <div class="form-row">
                    <label>きっかけ</label>
                    <input type="text" name="source" value="{{ attr['source'] }}">
                </div>
                <div class="form-row">
                    <label>その他備考</label>
                    <input type="text" name="remarks" value="{{ attr['remarks'] }}">
                </div>
            </div>
        </div>
        <div class="form-row">
            <button type="submit">変更を保存</button>
        </div>
    </form>
                    {% endfor %}


</div><!--/col-->
{% endblock %}

{% block script%}
<script src="{{ url_for('static', filename='js/updateForm.js') }}"></script>
<script src="{{ url_for('static', filename='js/hiddenInput.js') }}"></script>
{% endblock %}